{% extends 'base.html' %} 

{% block style %}
  <style>
    .body-size{
      border: black solid 1px;
      width: 500px;
      margin: 0 auto;
    }

  </style>
{% endblock style %}

{% block content %}
<div class="body-size">
  <!-- header 시작 -->
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <h1>{{ person.username }}</h1>
    </div>
    <span>
      {% if request.user.is_authenticated %}
        {% if request.user != person %}
          {% if request.user in person.followers.all %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
              <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
            </svg>
          {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
            </svg>
          {% endif %}
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      {% endif %}
    {% endif %}
    </span>
    <div>
      {% if request.user.is_authenticated %}
        {% if request.user != person %}
          <form action="{% url 'accounts:follow' person.pk %}" method="post">
            {% csrf_token %} 
            {% if request.user in person.followers.all %}
              <input class="btn btn-sm btn-outline-dark" type="submit" value="언팔로우"/>
            {% else %}
              <input class="btn btn-sm btn-outline-dark" type="submit" value="팔로우"/>
            {% endif %}
          </form>
        {% else %}
          <input class="btn btn-sm btn-outline-dark" type="button" value="팔로우" disabled/>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <!-- header 끝 -->

  <!-- information 시작 -->
  <div>
    <div>
      <div>프로필 사진</div>
      <div>{{ person.email }}</div>
    </div>
    <div>
      <div>{{ person.post_set.all|length }}게시물</div>
      <div>{{ person.followers.all|length }}팔로워</div>
      <div>{{ person.followings.all|length }}팔로잉</div>
    </div>
  </div>
  <!-- information 끝 -->

  <!-- contents 시작 -->
  <div>
    <div>
      <h3>작성한 리뷰</h3>
      {% for post in person.post_set.all %}
      <div>{{ post.title }}</div>
      {% endfor %}
    </div>
    <div>
      <h3>"좋아요"한 리뷰</h3>
      {% for like_post in person.like_posts.all %}
      <div>{{ like_post.title }}</div>
      {% endfor %}
    </div>
    <div>
      <h3>작성한 댓글</h3>
      {% for comment in person.comments.all %}
      <div>{{ comment.content }}</div>
      {% endfor %}
    </div>
  </div>
  <!-- contents 끌 -->

  {% endblock content %}




  
  {% comment %} <div>
    <h3>팔로잉 목록</h3>
    {% for following in person.followings.all %}
      <div>{{ following.username }}</div>
    {% endfor %}
  </div>
  <div>
    <h3>팔로워 목록</h3>
    {% for follower in person.followers.all %}
      <div>{{ follower.username }}</div>
  {% endfor %}
  </div>
</div> {% endcomment %}
<hr>