.custom-input-form {
    width: 40rem;
}

.custom-crsl-img-size {
    height: 15rem;
}

.caption-with-bg-color {
    background-color: rgba(35, 35, 36, 0.817);
    background-blend-mode: screen;
    border: 0;
    border-radius: 5px;
}