{% extends 'base.html' %} {% block content %}
<h1>{{post.title}}</h1>
<h6>{{post.select1_content}}</h6>
<h6>{{post.select2_content}}</h6>

<form action="{% url 'posts:answer' post.pk post.select1_content%}" method="POST">
  {% csrf_token %}
  <input type="submit" name="select1" value={{ post.select1_content}}>
  <input type="submit" value={{ post.select2_content}}>
</form>
 {{ post.select1_users.all|length }}

<a class="btn" href="{% url 'posts:index' %}">뒤로가기</a>

{% endblock content %} {% comment %}
<form action="{% url 'articles:likes' article.pk %}" method="POST">
  {% csrf_token %} {% if request.user in article.like_users.all %}
  <input type="submit" value="좋아요 취소" />
  {% else %}
  <input type="submit" value="좋아요" />
  {% endif %}
</form>
{% endcomment %}
